html, body {
  height: 95%;
}

body {
  background-color: purple;
}

h1 {
  color: white;
  font: 32pt sans-serif;
}

p {
  color: white;
  font: 12pt sans-serif;
}

a {
  color: pink;
}

div {
  font: 12pt sans-serif;
}

#sidebar, #info {
  background-color: pink;
  height: 65%;
  border: 5px black;
  padding: 5px;
  overflow-y: auto;
}

#sidebar {
  width: 30%;
  float: left;
}

.bokemon {
  margin: 5px;
}

.bokemon:hover {
  color: white;
}

#info {
  width: 65%;
  float: right;
}
