html, body {
  height: 95%;
}

body {
  background-color: purple;
}

div {
  width: 50%;
  margin: 10% auto;
  padding: 5%;
  border: 1px solid black;
  border-radius: 50px;
  background-color: pink;
  color: purple;
  font: 20px sans-serif;
}
