body {
  background-color: purple;
}

div {
  width: 50%;
  margin: 20% auto;
  padding: 10%;
  border: 1px solid black;
  border-radius: 75px;
  background-color: pink;
  color: purple;
  font: 28px sans-serif;
}
