html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: purple;
}

body > div {
  width: 80%;
  max-height: 800px;
  margin: 5px auto;
  padding: 5%;
  border: 1px solid black;
  border-radius: 50px;
  background-color: pink;
  color: purple;
  font: 20px sans-serif;
  text-align: left;
}

form {
  margin: 25px auto;
}

input[type="number"] {
  width: 50px;
}

button {
  cursor: pointer;
  filter: brightness(100%);
}

button:hover {
  filter: brightness(92%);
}

button[onclick="makeOutput()"] {
  background-color: purple;
  color: #eee;
}

#toolbardiv button {
  margin-left: 5px;
  padding: 10px;
  border: 0px;
  border-radius: 15px;
}

#toolbardiv button:hover, #mapdiv button:hover {
  filter: brightness(80%);
}

#mapdiv {
  overflow: auto;
}

#mapdivcontainer {
  display: grid;
  grid-template-columns: 40px auto;
  column-gap: 0;
  row-gap: 0;
}

.arrow, .arrow svg {
  height: 33px;
  width: 33px;
  border: none;
  background: none;
  padding: 0;
}

#arrowstop {
  grid-column: 2;
  grid-row: 1;
  height: 33px;
}

#arrowstop div {
  height: 33px;
}

#arrowsleft {
  grid-column: 1;
  grid-row: 2;
  width: 33px;
}

#arrowsleft div {
  width: 33px;
}

#map, #spawnpointmap {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  grid-column: 2;
  grid-row: 2;
}

#map td, #spawnpointmap td {
  width: 16px;
  height: 16px;
  border: 1px solid black;
}

#spawnpointmap td {
  background-color: #ddd;
}

#spawnpointmap td.hasspawn {
  background-color: #f00;
}

#map td.top, #spawnpointmap td.top {
  border-top: 1px dashed black;
}

#map td.bottom, #spawnpointmap td.bottom {
  border-bottom: 1px dashed black;
}

#map td.left, #spawnpointmap td.left {
  border-left: 1px dashed black;
}

#map td.right, #spawnpointmap td.right {
  border-right: 1px dashed black;
}

#output {
  height: 200px;
  width: 100%;
}
